.u-center-text{text-align: center;}

.u-m-b-big{margin-bottom: 8rem;}
.u-m-b-medium{margin-bottom: 4rem;}
.u-m-b-small{margin-bottom: 1.5rem;}

.u-margin-top-big { margin-top: 8rem;}
.u-margin-top-huge { margin-top: 10rem;}